.nav-list {
    display: flex;
    padding: 0.0001em;
    background-color: lightgrey;
    align-items: center;
    margin-top: 285px;


}

 li {
    margin: 8px;
     list-style: none;

}

 .nav-list2 {
     display: flex;

 }

 h2 {
     margin-top: 9px;
     flex-grow: 1;
     margin-left: 23pc;
     font-family: "JetBrains Mono";
     font-size: 3em;
     padding-top: .2em;
     padding-bottom: .2em;
 }

 body {
     background-color: black;
     box-sizing: border-box;

 }

 .nav-list {
     justify-content: flex-start;
 }

 .nav-list2 {
    justify-content: flex-end;
 }

 a {
     text-decoration: none;
     color: black;
     display: inline-block;

 }

 a:hover {
     color: blue;
 }




