#pizza-world-heading {
    opacity: 0.5;
    background-color: white;
    position: absolute;
    margin-top: -315px;
    width: 100%;
    text-align: center


}

.nav {
    display: flex;
}

#icon {
    width: 5%;
    float: right;

}

.btn-outline-success {
    border: solid dodgerblue;
    color: dodgerblue;
}

#pizza-heading {
    margin-top: 30px;
}

#header1,#header2,#header3 {
    background-color: blue;
    color: white;
}

#button1,#button2,#button3 {
    background-color: blue;
    color: white;
    float: right;
}

.text-primary {
    border: solid 1px blue;
}

.text-primary:hover {
    background-color: lightblue;
}

#pizza-background {
   margin-left: 64px;
}

#icon,#signmeup {

}





