#pizza-world-heading {
    opacity: 0.5;
    background-color: white;
    position: absolute;
    margin-top: -315px;
    width: 100%;
    text-align: center


}

.nav {
    display: flex;
}

#icon {
    width: 5%;
    float: right;

}

.btn-outline-success {
    border: solid dodgerblue;
    color: dodgerblue;
}

#pizza-heading {
    margin-top: 30px;
}





